/* Small Screens */
/*  less than 768px */
@media (max-width: 768px) {
    header.header {
        position: fixed;
        padding: 2rem 10%;  
        flex-direction: column;  
        align-items: flex-start;  
        height: 15vw;
    }
    .social-icons {
        display: block;
        justify-content: center;
    }
    .logo {
        display: none;
    }
    .gradient-btn {
        display: none;
    }
    .navbar {
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #000000; 
        text-align: center;
        display: none;
        
    }
    .navbar a {
        padding: 10px 0;
    }

    /* Mobile Hamburger style */
    #hamburger-checkbox ~ .navbar {
    display: none;
    }
    .hamburger-checkbox {
    display: none; 
    }
    label.hamburger {
    display: inline-block;
    cursor: pointer;
    font-size: 5.5vw; 
    color: var(--main-color);
    user-select: none;
    }
    label.hamburger:active {
    display: inline-block;
    cursor: pointer;
    font-size: 5.5vw; 
    color: white;
    user-select: none;
    }
    #hamburger-checkbox:checked ~ .navbar {
    display: block;
    }

    /* index.html home section */
    .home {
        justify-content: center;
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
    }
    .home-img img {
        display: none;
    }
    div.home-content h1 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 4%;
        margin-top: 20%;
    }
    div.home-content h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10%;
    }
    div.home-content p {
        text-align: left;
        margin-left: 10%;
        line-height: 1.9;
        margin-bottom: 10%;
    }
    div.btn-group1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-content: center;
        gap: 3rem;
    }
    div.social-icons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    /* index.html about section */
    section#about {
        justify-content: center;
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
        align-items: center;
        flex-wrap: wrap;

    }
    div.about-content h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 10%;
    }
    div.about-content p {
        line-height: 2;
        text-align: left;
        margin-left: 10%;
        margin-bottom: 20%;
    }
    .about-img img {
        display: none;
    }

/* hobbies section on index */
    .hobbies h2 {
        font-size: 24px;
        text-align: center;
    }
    div.hobbies-container {
        display: flex;
        flex-direction: row;
    }
    div.hobbies-box {
        width: 25rem;
        height: 30rem;
    }
    .hobbies-info h4 {
        font-size: 25px;
        margin: 2rem 0;
        font-weight: 800rem;
    }
/* contact me page */
    .contme {
        display: none;
    }
    .mecont {
        margin-bottom: 5%;
    }
    div.container {
        margin-top: 15%;
    }
    form, .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100%;
        width: 92vw;
        margin-top: 5%;
    }
    #formpage {
        background-color: var(--second-bg-color);
        margin: 0%;
        padding: 4%;
    }
    div.sub{
        display: none;
    }
    div.sub2 {
        justify-content: center;
        align-items: center;
        display: flex;
    }
/* hobbies tab */
    div.btn-group2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-content: center;
        margin-top: 5%;

    }
    .Talents-container1,
    .Talents-container2,
    .Talents-container3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .Talents-container1 .videosection1 li,
    .Talents-container2 .videosection2 li,
    .Talents-container3 .videosection3 li {
        font-weight: 600;
        font-size: 13px;
        line-height: 5rem;
    }
    /* Rubiks cube section */
    .RBcube {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .rubtext {
        display: none;
    }
    .rubtextmobile {
        text-align: center;
        line-height: 5rem;
        font-size: 1.28rem;
        margin-top: 5;
    
    }
    h2.RBheading {
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        font-size: 10vw;
    }
    #videocube{
        width: 60%;
        border-radius: 30px;
        margin-bottom: 5%;
    }
    div.videoRB {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
/* Knife section */
    .knife {
        margin: 0%;
        padding: 10%;
        height: auto;
    }  
    h2.KnifeHeading {
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        font-size: 10vw;
    }
    video#videoknife {
        width: 70%;
        border-radius: 30px;
        margin-bottom: 5%;
    }
    div.videoK {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

/* pencil */
    .PS {
        margin: 0%;
        padding: 10%;
        height: auto;
    }
    h2.PSHeading {
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        justify-content: center;
        font-size: 10vw;
    }
    video#videospin {
        width: 70%;
        border-radius: 30px;
        margin-bottom: 5%;
    }
    div.videoS {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}